<?php

/**
 * Config for API Auth
 */
$token = '';
$deviceid = '';

/**
 * Number Phone Example :
 * Indonesia: 0812xxxxxxxx or 62812xxxxxx
 * International : 65xxxxxx
 */
$number = '';
$multiplenumber = array(
    '08xxxx', '08xxxxx'
);